version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: ai-ticket-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: ai-ticket-backend
    ports:
      - "3001:3001"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/ai_ticket_triage

  frontend:
    build: ./frontend
    container_name: ai-ticket-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo-data: